{% extends "shop/base.html" %}

{% block content %}

    <br><br>
    <div class="text-center">
        <h2>Connectez-vous pour effectuer vos achats</h2>
    </div>
    
    {% if messages %}
        <div class="text-center">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <br>
    <div class="text-center">
        <p>Si vous n'avez pas encore de compte, veuillez cliquer sur <a href="{% url 'register_view' %}">S'inscrire</a> pour vous inscrire</p>
    </div>

    <div class="container px-5 my-5">
        <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST" action=".">

            {% csrf_token %}

            <label for="email" class="classeLabel">Email </label>
            <input class="form-control" id="email" type="email" name="email"/>

            <label for="motDePass" class="classeLabel">Mot de pass</label>
            <input class="form-control" id="motDePass" type="password" name="motDePass"/>
            <br>
            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Se connecter</button>
            </div>
        </form>
    </div>


{% endblock %}