{% extends "shop/base.html" %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container px-5 my-5">
        <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST" action=".">

            {% csrf_token %}

            <label for="email" class="classeLabel">Email </label>
            <input class="form-control" id="email" type="email" name="email"/>

            <label for="motDePass" class="classeLabel">Mot de pass</label>
            <input class="form-control" id="motDePass" type="password" placeholder="Mot de pass" name="motDePass"/>
            <br>
            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Se connecter</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


{% endblock %}