{% extends "shop/base.html" %}

{% block content %}

    {% if messages %}
        <br><br>
        <div class="text-center">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="container px-5 my-5">
        <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="." method="POST">
            {% csrf_token %}
            <!--<div class="form-floating mb-3">
                <input class="form-control" id="nomDutilisateur" type="text" placeholder="Nom d'utilisateur" />
                {{user_form.username}}
                <label for="{{user_form.username.id_for_label}}">Nom d'utilisateur</label>
                <div class="invalid-feedback" data-sb-feedback="nomDutilisateur:required">Nom d&#x27;utilisateur is required.</div>
            </div>-->

            <label for="nom" class="classeLabel">Nom</label>
            <input class="form-control" id="nom" type="text" name="nom"/>
            <!--{{user_form.first_name}}-->
            
            <label for="prenom" class="classeLabel">Prénom</label>
            <input class="form-control" id="prenom" type="text" name="prenom"/>
            <!--{{user_form.last_name}}-->   
            
            <label for="email" class="classeLabel">Email </label>
            <input class="form-control" id="email" type="email" name="email"/>
            <!--{{user_form.email}}-->

            <label for="telephone" class="classeLabel">Numéro de téléphone</label>
            <input class="form-control" id="telephone" name="telephone" type="text" />
            <!--{{user_form.telephone}}-->
 
            <label for="motDePass" class="classeLabel">Mot de pass</label>
            <input class="form-control" id="motDePass" name="motDePass" type="password" />
            <!--{{user_form.password}}-->

            <label for="motDePassDeConfirmation" class="classeLabel">Mot de pass de confirmation</label>
            <!--{{user_form.confirm_password}}-->
            <input class="form-control" id="motDePassDeConfirmation" type="password" name="motDePassDeConfirmation"/>
            <br>

            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">S'inscrire</button>
            </div>
        </form>
    </div>

{% endblock %}