{% extends "shop/base.html" %}

{% block content %}
    <br><br>

    <div class="container about-section">
        <h1 class="about-title">À Propos de Frimeur-Shopping</h1>
        <p class="about-content">
            Bienvenue sur Frimeur-Shopping, un site e-commerce que j'ai développé dans le but d'aider mon frère à gérer son entreprise tout en développant mes compétences en programmation. En tant qu'étudiant en informatique à l'Université de Dschang, j'ai eu l'opportunité de mettre en pratique mes connaissances et de créer une plateforme qui facilite l'achat de produits en ligne.
        </p>
        <p class="about-content">
            Mon objectif est de fournir une expérience utilisateur fluide et agréable, tout en offrant une sélection de produits de qualité. J'espère que ce site sera utile non seulement à mon frère, mais aussi à tous ceux qui recherchent des produits tendance à des prix abordables.
        </p>
        <p class="about-content">
            Merci de votre visite et n'hésitez pas à explorer notre site pour découvrir nos produits !
        </p>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        if(localStorage.getItem('panier') == null){
            var panier = {};
        } else {
            panier = JSON.parse(localStorage.getItem('panier'));
        }

        function updatePanierCount() {
            document.getElementById("panier").innerHTML = "Panier = " + Object.keys(panier).length;
        }

        updatePanierCount();

        $(document).on('click', '.ted', function(){
            var item_id = this.id.toString();
            var imageUrl = $(this).data('image')
            console.log(item_id);
            if(panier[item_id] != undefined){
                var quantite = panier[item_id][0] + 1;
                panier[item_id][0] = quantite;
                panier[item_id][2] += parseFloat(document.getElementById('price' + item_id).innerHTML);
            } else {
                var quantite = 1;
                var prix = parseFloat(document.getElementById('price' + item_id).innerHTML);
                var nom = document.getElementById("aa" + item_id).innerHTML; // Assurez-vous d'avoir cet élément
                panier[item_id] = [quantite, nom, prix];
            }
            console.log(panier);
            localStorage.setItem('panier', JSON.stringify(panier));

            updatePanierCount();
        });

        AfficherList(panier);

        function AfficherList(panier){
            var panierString = "";
            var index = 1;
            for(var x in panier){
                panierString += "Article " + index + " : ";
                panierString += document.getElementById("aa" + x).innerHTML + " : Quantité = " + panier[x][0] + "<br>";
                index++;
            }

            $('[data-toggle="popover"]').popover();
            document.getElementById("panier").setAttribute('data-content', panierString);
        }
    </script>
{% endblock %}