{% extends "shop/base.html" %}

{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" name="item-name" placeholder="Rechercher un article..." class="form-control form-control-borderless">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <h1 class="text-center" style="color: white;">Bienvenue sur la page des {{categorie}}s</h1>
    <br>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image.url }}" alt="Image de l'article" class="product card-img-top rounded-custom">
                    <div class="card-body">
                        <div id="aa{{ product.id }}" class="card-title">{{ product.title }}</div>
                        <div id="price{{ product.id }}" class="card-text badge badge-warning rounded-pill bg-dark text-warning price-badge">{{ product.price }} <span>FCFA</span></div>
                        <br><br>
                        <!-- Sélecteur de taille -->
                        <div class="form-group options">
                            <label hidden for="size{{ product.id }}">Taille:</label>
                            <select id="size{{ product.id }}" class="form-control">
                                <option value="" disabled selected>Choisissez une taille</option>
                                {% for size in product.sizes.all %}
                                    <option value="{{ size.name }}">{{ size.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Sélecteur de couleur -->
                        <div class="form-group">
                            <label hidden for="color{{ product.id }}">Couleur:</label>
                            <select id="color{{ product.id }}" class="form-control">
                                <option value="" disabled selected>Choisissez une couleur</option>
                                {% for color in product.colors.all %}
                                    <option value="{{ color.name }}">{{ color.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
            
                        <a href="{% url 'detail' product.id %}" class="btn btn-warning">Description</a>
                        <button id="{{ product.id }}" class="btn btn-success ted" data-image="{{ product.image.url }}">Ajouter</button>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
    <div class="row mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{products.previous_page_number}}"> Précédent</a>
                    </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{products.number}}">{{products.number}}</a>
                </li>
                {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{products.next_page_number}}"> Suivant</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script src="{% static 'javascript/categorieJs.js' %}"></script>

{% endblock %}


        
