{% extends "shop/base.html" %}

{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <br> <br>
            <h3 class="text-center">Voici votre liste d'articles sélectionnés</h3>
            <br> <br>
            <ol class="list-group list-group-numbered" id="item-list">
                
            </ol>
        </div>
    </div>
    <br>
    <div class="totalDesCommandes">
        
    </div>
    <div id="formulaireDeCommande">

        <div>
            <br>
            <h5 class="text-center">Pour commander, veuillez remplir et soumettre le formulaire ci-dessous.</h5>
            <br> 
        </div>

        {% if messages %}
            <div class="text-center">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12 formulaire">
                <form method="POST" action="{% url 'paiement' %}">
                    {% csrf_token %}
                    <input type="hidden" id="items" name="items">

                <!-- <label for="nom" class="classeLabel">Noms et prénoms</label>
                    <input type="text" class="form-control classInput" id="nom" name="nom" value="{{request.user.nom}} {{request.user.prenom}}" required>

                    <br>
                    <label for="email" class="classeLabel">Email</label>
                    <input name="email" id="email" type="email" class="form-control classInput" value="{{request.user.email}}" required>-->

                    <br>
                    <label for="adresse" class="classeLabel">Adresse de livraison</label>
                    <input type="text" class="form-control classInput" id="adresseDeLivraison" name="adresseDeLivraison" required>
                    
                    <br>
                    <label for="ville" class="classeLabel">Ville</label>
                    <input type="text" class="form-control classInput" id="ville" name="ville" required>
                    
                    <br>
                    <label for="pays" class="classeLabel">Pays</label>
                    <select id="pays" name="pays" class="form-control classInput">
                        <option selected>Cameroun</option>
                    </select>

                    <br>
                    <label for="total" class="classeLabel">Somme totale</label>
                    <input name="total" type="text" class="form-control bg-dark text-warning" id="total1" readonly>

                    <br>
                    <button type="submit" class="btn btn-primary">Commander</button>
                </form>
            </div>
        </div>
        <br><br>
    </div>
    

{% endblock %}

{% block js %}

    <script src="{% static 'javascript/checkoutJs.js' %}"></script>

{% endblock %}
