{% extends "shop/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <br> <br>
            <h3 class="text-center" style="color: white;">Voici votre liste d'articles sélectionnés</h3>
            <br> <br>
            <ol class="list-group list-group-numbered" id="item-list">
                
            </ol>
        </div>
    </div>

    <div>
        <br> <br>
        <h5 class="text-center" style="color: white;">Pour commander, veuillez remplir et soumettre le formulaire ci-dessous.</h5>
        <br> <br>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" id="items" name="items">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nom" style="color: white;">Nom</label>
                        <input type="text" class="form-control" id="nom" name="nom">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email" style="color: white;">Email</label>
                        <input name="email" id="email" type="email" class="form-control" value="{{request.user.email}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="adresse" style="color: white;">Localisation</label>
                    <input type="text" class="form-control" id="localisation" name="localisation">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ville" style="color: white;">Ville</label>
                        <input type="text" class="form-control" id="ville" name="ville">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="pays" style="color: white;">Pays</label>
                        <select id="pays" name="pays" class="form-control">
                            <option selected >Cameroun</option>
                            <!--<option>Tchad</option>
                            <option>Benin</option>
                            <option>Burkina Faso</option>-->
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ville" style="color: white;">Numéro de téléphone</label>
                        <input type="text" class="form-control" id="tel" name="tel">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="total" style="color: white;">Somme totale</label>
                        <input name="total" type="text" class="form-control bg-dark text-warning" id="total" readonly>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Commander</button>
                <br>
            </form>
        </div>
    </div>
    

{% endblock %}

{% block js %}

    <script type="text/javascript">

        if(localStorage.getItem('panier') == null){
            var panier = {}
        }else{
            panier = JSON.parse(localStorage.getItem('panier'))
        }
        var total = 0
        var nombre = 0
        for(item in panier){
            let nom = panier[item][1]
            let quantite = panier[item][0]
            let prix = panier[item][2]
            nombre += quantite
            total += prix 
            let itemString = `
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            ${nom}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center flex-grow-1">
                        <span class="badge badge-primary rounded-pill" style="color: black;">nombre d'articles = ${quantite}</span>
                    </div>
                    <span class="badge badge-warning rounded-pill bg-dark text-warning" style="color: black; padding: 15px;">prix = ${prix} FCFA</span>
                </li>
            `;
            $('#item-list').append(itemString);

        }


        /*let itemNombre = `
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            <h5 class="bg-danger">PRIX ET NOMBRES D'ARTICLES TOTAUX </h5>
                        </div>
                    </div>
                    <span class="badge badge-danger rounded-pill">nombre d'articles total = ${nombre}</span>
                    <span class="badge badge-danger rounded-pill">prix total = ${total} FCFA</span>
                </li>
            `;
        $('#item-list').append(itemNombre); */


        $('#total').val(total + "FCFA")

        $('#items').val(JSON.stringify(panier))

    </script>

{% endblock %}