{% extends "shop/base.html" %}

{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <br><br>
            <h3 class="text-dark text-center" style="color: black;">Nous vous remercions <b>Mme/Mr/Mlle {{name}}</b>, pour la confianceque vous nous accordée.</h3>
            <br>
            <h4 class="text-center" style="color: black;">
                Nous venons de recevoir votre commande, veuiller consulter votre boite mail pour la confirmer.
            </h4>
        </div>
    </div>
    <br><br><br>
{% endblock %}

{% block js %}

    <script src="{% static 'javascript/confirmationJs.js' %}"></script>

{% endblock %}