{% extends "shop/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <br><br>
            <h3 class="text-dark text-center" style="color: white;">Bonjour Mme/Mr/Mlle {{name}}</h3>
            <h4 class="text-white text-muted" style="color: white;">
                <br>
                Nous venons de recevoir votre commande, veuiller consulter votre boite mail pour la confirmer.
                <br><br>
                En attente de vos articles, nous vous sommes gré pour votre confiance.
            </h4>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script type="text/javascript">

        

    </script>

{% endblock %}