{% extends "shop/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h3 class="text-dark text-center badge-warning">Bonjour Mme/Mr/Mslle {{name}} </h3>
            <h4 class="text-muted">
                Merci de nous faire confiance. <br>
                Nous avons recu votre commande et nous ferons tout le necessaire pour vous satisfaire dans les plus brefs delais.
            </h4>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script type="text/javascript">

        

    </script>

{% endblock %}