{% extends "shop/base.html" %}

{% load static %}

{% block content %}
    <br><br>

    <div class="container contact-section">
        <h1 class="contact-title">Contactez-nous</h1>
        <p class="contact-info">
            Si vous avez des questions, des commentaires ou des suggestions, n'hésitez pas à nous contacter. Nous sommes là pour vous aider !
        </p>

        {% if messages %}
            <div class="text-center">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    
        <form method="POST" action="{% url 'contacter' %}">
            {% csrf_token %}
            <!--<div class="form-group">
                <label for="name" class="classeLabel">Nom</label>
                <input type="text" class="form-control" id="name" value="{{request.user.nom}} {{request.user.prenom}}" required name="nom">
            </div>
            <div class="form-group">
                <br>
                <label for="email" class="classeLabel">Email</label>
                <input type="email" class="form-control" id="email" value="{{request.user.email}}" required name="email">
            </div>-->
            <div class="form-group">
                <br>
                <label for="message" class="classeLabel">Message</label>
                <textarea class="form-control" id="message" rows="4" placeholder="Votre message" required name="message"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Envoyer</button>
            <br>
        </form>
        <br>
    </div>

{% endblock %}

{% block js %}
    
    <script src="{% static 'javascript/contactJs.js' %}"></script>

{% endblock %}