{% extends "shop/base.html" %}

{% block content %}
    <br><br>

    <div class="container contact-section">
        <h1 class="contact-title">Contactez-nous</h1>
        <p class="contact-info">
            Si vous avez des questions, des commentaires ou des suggestions, n'hésitez pas à nous contacter. Nous sommes là pour vous aider !
        </p>

        {% if messages %}
            <div class="text-center">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    
        <form method="POST" action="{% url 'contacter' %}">
            {% csrf_token %}
            <!--<div class="form-group">
                <label for="name" class="classeLabel">Nom</label>
                <input type="text" class="form-control" id="name" value="{{request.user.nom}} {{request.user.prenom}}" required name="nom">
            </div>
            <div class="form-group">
                <br>
                <label for="email" class="classeLabel">Email</label>
                <input type="email" class="form-control" id="email" value="{{request.user.email}}" required name="email">
            </div>-->
            <div class="form-group">
                <br>
                <label for="message" class="classeLabel">Message</label>
                <textarea class="form-control" id="message" rows="4" placeholder="Votre message" required name="message"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Envoyer</button>
            <br>
        </form>
        <br>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        if(localStorage.getItem('panier') == null){
            var panier = {};
        } else {
            panier = JSON.parse(localStorage.getItem('panier'));
        }

        function updatePanierCount() {
            document.getElementById("panier").innerHTML = "Panier = " + Object.keys(panier).length;
        }

        updatePanierCount();

        $(document).on('click', '.ted', function(){
            var item_id = this.id.toString();
            var imageUrl = $(this).data('image')
            console.log(item_id);
            if(panier[item_id] != undefined){
                var quantite = panier[item_id][0] + 1;
                panier[item_id][0] = quantite;
                panier[item_id][2] += parseFloat(document.getElementById('price' + item_id).innerHTML);
            } else {
                var quantite = 1;
                var prix = parseFloat(document.getElementById('price' + item_id).innerHTML);
                var nom = document.getElementById("aa" + item_id).innerHTML; // Assurez-vous d'avoir cet élément
                panier[item_id] = [quantite, nom, prix];
            }
            console.log(panier);
            localStorage.setItem('panier', JSON.stringify(panier));

            updatePanierCount();
        });

        AfficherList(panier);

        function AfficherList(panier){
            var panierString = "";
            var index = 1;
            for(var x in panier){
                panierString += "Article " + index + " : ";
                panierString += document.getElementById("aa" + x).innerHTML + " : Quantité = " + panier[x][0] + "<br>";
                index++;
            }

            $('[data-toggle="popover"]').popover();
            document.getElementById("panier").setAttribute('data-content', panierString);
        }
    </script>
{% endblock %}