{% extends "shop/base.html" %}

{% load static %}

{% block content %}
    <br><br>
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img src="{{product.image}}" alt="image de l'article" class="img-fluid rounded-custom">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-warning display-3 product-title">
                    {{product.title}}
                </div> 
                <br> 
                <div class="badge badge-warning rounded-pill bg-dark text-warning price-badge">
                    Prix : <span id="price{{product.id}}">{{product.price}}</span> FCFA
                </div>
                <div class="product-description">
                    {{product.description}}
                </div>
                <br>
                <button id="{{product.id}}" class="btn btn-success btn-add ted" data-image="{{ product.image }}">Ajouter</button>
            </div>
        </div>

    </div>
    <br><br>
{% endblock %}

{% block js %}

    <script src="{% static 'javascript/detailJs.js' %}"></script>

{% endblock %}