{% extends "shop/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" name="item-name" placeholder="Rechercher un article..." class="form-control form-control-borderless">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        {% for product in product_object %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image }}" alt="Image de l'article" class="card-img-top rounded-custom" style="width: 250px; height: 200px; .rounded-custom {
                        border-radius: 25%;
                    }">
                    <div class="card-body">
                        <div id="aa{{product.id}}" class="card-title">{{product.title}}</div>
                        <div id="price{{product.id}}" class="card-text">{{product.price}} <span>FCFA</span></div>
                        <a href="{{product.id}} " class="btn btn-warning">Description</a>
                        <button id="{{product.id}}" class="btn ted btn-success">Acheter</button>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
    <div class="row mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_object.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{product_object.previous_page_number}}"> Précédent</a>
                    </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{product_object.number}}">{{product_object.number}}</a>
                </li>
                {% if product_object.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{product_object.next_page_number}}"> Suivant</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script type="text/javascript">
 
        if(localStorage.getItem('panier') == null){
            var panier = {}
        }else{
            panier = JSON.parse(localStorage.getItem('panier'));
        }
        $(document).on('click','.ted', function(){
            var item_id = this.id.toString()
            console.log(item_id)
            if(panier[item_id] != undefined){
                quantite = panier[item_id][0] + 1 
                panier[item_id][0] = quantite
                panier[item_id][2] += parseFloat(document.getElementById('price'+item_id).innerHTML)
            }else{
                quantite = 1
                prix = parseFloat(document.getElementById('price'+item_id).innerHTML)
                nom = document.getElementById("aa"+item_id).innerHTML
                panier[item_id] = [quantite, nom, prix]
            }
            console.log(panier)
            localStorage.setItem('panier', JSON.stringify(panier))
            document.getElementById("panier").innerHTML = "Panier = " + Object.keys(panier).length
        });
        
        AfficherList(panier)

        function AfficherList(panier){
            var panierString = ""
            var index = 1
            for(var x in panier){
                panierString += "Article " + index + " :"
                panierString += document.getElementById("aa"+x).innerHTML + " :"+ " Quantité = " + panier[x][0] + "</br>"
                index++
            }

            //panierString += "<a href='{% url 'panier' %}' class='btn btn-primary'>Voir le panier</a>"

            $('[data-toggle="popover"]').popover()
            document.getElementById("panier").setAttribute('data-content', panierString)
        }

    </script>

{% endblock %}
        
