{% extends "shop/base.html" %}

{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/paiementStyle.css' %}">

    <br>

    <div class="formulaire">
        <h2>Paiement</h2>
        <form id="payment-form" class="payment-form" method="POST" action="{% url 'paiement' %}">
            {% csrf_token %} 
            <div class="form-group">
                <label for="payment-method">Méthode de paiement</label>
                <select id="payment-method" name="payment_method" required>
                    <option value="" disabled selected>Sélectionnez une méthode</option>
                    <option value="mtn">MTN Mobile Money</option>
                    <option value="orange">Orange Money</option>
                    <option value="paypal">PayPal</option>
                </select>
            </div>
    
            <div id="mobile-details" class="payment-details" style="display: none;">
                <div class="form-group">
                    <label for="phone-number">Numéro de téléphone</label>
                    <input type="text" id="phone-number" name="phone_number" required>
                </div>
            </div>

            <button type="button" class="commande" id="submit-button">Payer</button>
    
        </form>
    </div>

{% endblock %}

{% block js %}
 
    <script src="{% static 'javascript/paiementJs.js' %}"></script>

{% endblock %}