{% extends "shop/base.html" %}

{% load static %}

{% block content %}

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        .formulaire {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        #paypal-button-container {
            margin-top: 30px;
            text-align: center;
        }
        #paypal-button-container {
            display: flex; /* Utiliser Flexbox pour centrer le contenu */
            justify-content: center; /* Centrer horizontalement */
            align-items: center; /* Centrer verticalement si nécessaire */
            margin-top: 30px; /* Espacement au-dessus */
        }
        button.commande {
            background-color: #0070ba;
            color: white;
            border: none;
            padding: 15px 30px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        button.commande:hover {
            background-color: #005ea6;
        }

        @media (max-width: 600px) {
            .formulaire {
                padding: 15px;
            }

            button.commande {
                width: 100%;
            }
        }
    </style>

    <h2 style="text-align: center; margin-top: 5%;">Paiement par Paypal</h2>

    <div id="paypal-button-container"></div>

{% endblock %}

{% block js %}

    <script src="https://sandbox.paypal.com/sdk/js?client-id=AakpDr2PN72dXbcX17CIq19Mq_TW_o0jB8JO3TQJd6HPj4lbGZAxN_DmQMR55ItQmc7mqsaFQeQs_EIU"></script>
 
    <script src="{% static 'javascript/paiementPaypalJs.js' %}"></script>

{% endblock %}







