{% extends "shop/base.html" %}

{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/paypalPaiement.css' %}">

    <h2 style="text-align: center; margin-top: 2%;">Paiement par Paypal</h2>

    <div class="central">
        <div id="paypal-button-container"></div>
    </div>

{% endblock %}

{% block js %}

    <script src="https://sandbox.paypal.com/sdk/js?client-id=AakpDr2PN72dXbcX17CIq19Mq_TW_o0jB8JO3TQJd6HPj4lbGZAxN_DmQMR55ItQmc7mqsaFQeQs_EIU"></script>
 
    <script src="{% static 'javascript/paiementPaypalJs.js' %}"></script>

{% endblock %}







